<section class="section">
<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Supreme</a></li>
      <li><a href="#">SS19</a></li>
      <li><a href="#">Week 2</a></li>
      <li class="is-active"><a href="#" aria-current="page">Sweatshirts</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-three-fifths-tablet">
      <img src='https://assets.supremenewyork.com/167225/zo/XkD-3b_DWFc.jpg' id='product-img'>
    </div>
    
    <div class="column is-two-fifths-tablet">
      
      <h1 class="title is-3 has-text-centered-mobile">Le Luxe Hooded Sweatshirt</h1>
      <h1 class="subtitle is-7 has-text-centered-mobile is-spaced">natural // small</h1>
      <h1 class="title is-3 has-text-centered-mobile is-spaced has-text-weight-light">¥42300</h1>
      
      <p class='is-size-7 has-text-weight-semibold is-inline'>Select color:</p>
      <p class='is-size-7 has-text-weight is-inline'>Natural</p>
      <div class="columns is-gapless has-text-centered is-mobile" style="margin-bottom:0.8rem; margin-top: 10px">
        <div class="column is-2" style="margin: 0px 2px 0px 0px">
          <span class="dot" style="background-color:#161616"></span>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <span class="dot" style="background-color:#c62b2b"></span>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <span class="dot" style="background-color:#232c3d"></span>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <span class="dot" style="background-color:#ede7dd; border:2px solid #FFF; box-shadow: 0 0 2px #424242;"></span>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <span class="dot" style="background-color: #1c473a"></span>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <span class="dot" style="background-color:#c6c8c7"></span>
        </div>
      </div>
      
      <p style='margin: 5px 0px;' class='is-size-7 has-text-weight-semibold'>Select size: </p>
      <div class="columns is-gapless is-mobile">
        <div class="column is-2" style="margin: 0px 2px 0px 0px">
          <a class="button is-light is-small is-fullwidth is-active">Small</a>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <a class="button is-light is-small is-fullwidth">Medium</a>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <a class="button is-light is-small is-fullwidth">Large</a>
        </div>
        <div class="column is-2" style="margin: 0px 2px;">
          <a class="button is-light is-small is-fullwidth">XLarge</a>
        </div>
      </div>
      
      <p style='margin: 5px 0px;' class='is-size-7 has-text-weight-semibold'>Action: </p>
      <div class="columns is-gapless is-mobile" style="margin-bottom:0.5rem;">
         <div class="column is-3" style="margin: 0px 2px 0px 0px">
          <a class="button is-light is-fullwidth">Buy</a>
        </div>
        <div class="column is-3" style="margin: 0px 2px;">
          <a class="button is-light is-fullwidth">Sell</a>
        </div>
        <div class="column is-6" style="margin: 0px 2px;">
          <a class="button is-fullwidth is-danger">Review Order</a>
        </div>
      </div>
      
      <table class="table is-fullwidth is-size-7" style="margin-top:1.5rem;">
        <tbody>
          <tr>
            <td width="30%">Season</td>
            <td width="70%">SS19</td>
          </tr>
          <tr>
            <td>Drop date</td>
            <td>March 7th, 2019</td>
          </tr>
          <tr>
            <td>Retail</td>
            <td>¥27000</td>
          </tr>
          <tr>
            <td>Details</td>
            <td>Cotton fleece with rib gussets, pouch pocket and embroidered logo on chest. </td>
          </tr>
        </tbody>
      </table>
      
      <div class="box is-hidden" id="sidebar" style='margin:auto;'>
        <div class="tabs is-fullwidth">
          <ul>
            <li class="is-active"><a class='is-size-6'>Buy</a></li>
            <li><a class='is-size-6'>Sell</a></li>
          </ul>
        </div>
        
        <div class="field is-horizontal">
          <div class="field-label is-normal" style='flex-basis:auto'>
            <label class="label has-text-weight-light	is-size-6 has-text-left">Market Price</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control has-text-weight-light	is-size-6">
                <input class="input has-text-weight-light is-static is-pulled-right has-text-right" style='color: black' type="email" placeholder="¥37400" value="¥37400">
              </p>
            </div>
          </div>
        </div>
        
        <div class="field is-horizontal">
          <div class="field-label is-normal" style='flex-basis:auto'>
            <label class="label has-text-weight-light	is-size-6 has-text-left">Shipping</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control has-text-weight-light	is-size-6">
                <input class="input has-text-weight-light is-static is-pulled-right has-text-right" style='color: black' type="email" placeholder="¥500" value="¥500">
              </p>
            </div>
          </div>
        </div>
        
        <hr>
        
        <div class="field is-horizontal">
          <div class="field-label is-normal" style='flex-basis:auto'>
            <label class="label has-text-weight-light	is-size-6 has-text-left">Total Cost</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control has-text-weight-light	is-size-6">
                <input class="input has-text-weight-light is-static is-pulled-right has-text-right" style='color: black' type="email" placeholder="¥37900" value="¥37900">
              </p>
            </div>
          </div>
        </div>
        
        <a class="button is-fullwidth">Review order</a>
        
      </div>
      
    </div>
</div>
</div>

</section>