<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-fullhd has-text-centered">
      <h1 class="title is-3 is-spaced has-text-weight-bold">
    	  Guarenteed authentic
    	</h1>
    	<h2 class="subtitle is-5 is-spaced">
    	  The safest way to buy and sell Supreme. Everything seamless, no more hassle. Never miss a drop again.
    	</h2>
      <a class="button is-rounded has-text-weight-semibold is-spaced is-danger"> 会員登録 </a>
    </div>
  </div>
</section>