<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-fullhd">
      <div class="columns is-vcentered has-text-centered-touch">
        <div class="column is-two-fifths">
          <h1 class="title is-3 is-spaced has-text-weight-bold">
        	  Guarenteed authentic
        	</h1>
        	<h2 class="subtitle is-5 is-spaced">
        	  The safest way to buy and sell Supreme. Everything seamless, no more hassle. Never miss a drop again.
        	</h2>
    	    <a class="button is-rounded has-text-weight-semibold is-spaced is-danger"> 会員登録 </a>
        </div>
        <div class="column is-three-fifths">
          <nav class="level">
            <div class="level-item has-text-centered">
              <figure class="image">
                <img id='main-img' src="https://assets.supremenewyork.com/168739/ma/15ljoN8DHGA.jpg">
              </figure>
            </div>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>