<footer class="footer">
	
  <div class="container-fullhd has-text-centered">
		<a class="button">
		  <span class="icon is-small">
		    <i class="fa fa-facebook"></i>
		  </span>
		</a>
		<a class="button">
		  <span class="icon is-small">
		    <i class="fa fa-instagram"></i>
		  </span>
		</a>
		<a class="button">
		  <span class="icon is-small">
		    <i class="fa fa-twitter"></i>
		  </span>
		</a>
	</div>
</footer>