<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-brand">
      <a class="navbar-item">
        <p class="title is-3 is-size-4-touch">REBOUND</p>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu has-text-centered">
      <div class="navbar-start">
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-white is-rounded"> ログイン </a>
        </div>
        <div class="navbar-item">
          <a class="button is-danger is-rounded has-text-weight-semibold"> 会員登録 </a>
        </div>
      </div>
    </div>
  </div>
</nav>